@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-weight: 400;
  font-family: 'TT Hazelnuts';
  src: url('../fonts/TTHazelnuts-Regular.woff2') format('woff2'),
    url('../fonts/TTHazelnuts-Regular.woff') format('woff');
}

@font-face {
  font-weight: 500;
  font-family: 'TT Hazelnuts';
  src: url('../fonts/TTHazelnuts-Medium.woff') format('woff2'),
    url('../fonts/TTHazelnuts-Medium.woff') format('woff');
}

@layer base {
  h1 {
    @apply text-lg text-center sm:text-xl xl:text-xxl lg:text-left;
  }

  h2 {
    @apply text-lg mb-6;
  }

  p {
    @apply text-base text-gray md:text-main;
  }
}