.video {
  @apply bg-lightGray bg-opacity-5;
}

.video__container {
  @apply flex flex-col items-center text-center;
}

.video__title {
  @apply max-w-xl;
}

.video__subtitle {
  @apply max-w-xl;
}

.video__frame {
  @apply w-full relative mt-12;

  padding-top: 56.25%;
}

.video__player {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}